:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #e26a66;
  --color-dark-pink: #d8615d;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 38px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
  text-align: left;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-white);
}
.login_logout {
  display: flex;
  align-items: center;
}
.login_logout button {
  border-radius: 5%;
  height: 30px;
  margin: 5px 10px;
}
.login_logout button:hover {
  background-color: var(--color-light-white);
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: white;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-dark-grey);
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid #4d4d4d;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-dark-grey);
  display: none;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about {
  background-image: url(/app/resources/image/mainBanner2.png);
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  background-position: center;
  background-size: cover;
}
.seperation1 {
  background-image: url(/app/resources/image/seperationImg.png);
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  background-size: cover;
}
.seperation2 {
  background-image: url(/app/resources/image/seperationImg.png);
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  background-size: cover;
}
.seperation3 {
  background-image: url(/app/resources/image/seperationImg.png);
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  background-size: cover;
}

.about__img__logo {
  display: block;
  margin: auto;
  width: 200px;
}

/* new project */

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin:30px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description__content {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description__content {
  opacity: 0.8;
  transform: translateY(0px);
}
/* recruiting project */
.project__description__title {
  display: flex;
  width: 100%;
  padding: 5px 15px;
  flex-direction: row;
  justify-content: space-between;
}

.project__description__title h3,
.project__description__title h3 {
  font-weight: bold;
}
.project__description__title .recruiting {
  color: #616161;
  padding-top: 10px;
  font-weight: 600;
}
/* Story */

.story__boardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.story {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 250px;
}

.story__boardList a.story img {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
#more {
  color: #616161;
  font-size: medium;
}
.story__button {
  float: right;
  border-radius: 5%;
  border: 1px solid black;
  padding: 8px 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.story__button:hover {
  background-color: #eeeded;
}
/* .project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
} */

/* .project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
} */
.story__description__title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
}
.story__description__title h3 {
  font-weight: bold;
}
.story__description__title span {
  color: #000000;
  padding-top: 10px;
  font-weight: 600;
}
.story__description__content {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.story:hover .story__description__content {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Members */
.member__list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.member__description {
  width: 220px;
  height: 180px;
  border: 1px solid #bdbdbd;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
}
.member__description:hover {
  border-color: #e26a66;
}
.member__description__top {
  display: flex;
  justify-content: start;
}

.member__description__top img {
  margin: 8px 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  max-width: 100%;
}
.member__description__top a {
  color: #4d4d4d;
  margin-left: 10px;
  font-weight: 900;
}
.member__description__top .level {
  border: 1px solid #ea6560;
  border-radius: 45%;
  margin-left: 10px;
  margin-top: 5px;
  max-width: 48px;
  padding: 1px 2px;
  color: #ea6560;
}
.member__description__bottom {
  display: flex;
  flex-direction: column;
}
.member__description__bottom ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.member__description__bottom li {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  font-size: var(--font-micro);
  margin: 0 10px;
}
.member__description__bottom li span {
  color: var(--color-light-grey);
}
.member__description__bottom li .main_char,
.member__description__bottom li .sub_char {
  color: var(--color-dark-grey);
}
.member__description__bottom ul:after {
  content: "";
  display: block;
  position: relative;
  left: 10%;
  width: 200px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
.member__description__bottom .current_proj {
  font-size: smaller;
  margin-top: 5px;
}

.member__description__bottom .heart {
  font-size: medium;
  font-weight: bold;
  width: 20px;
  padding: 0;
  border-radius: 50%;
  margin: 5px 5px;
}

.member__description__bottom .heart.selected {
  background-color: #f58581;
}
.member__description__bottom .heart:hover {
  background-color: #fcdcdc;
}
.member__button {
  float: right;
  border-radius: 5%;
  border: 1px solid black;
  padding: 8px 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.member__button:hover {
  background-color: #eeeded;
}

.member__description__top img:hover {
  border: 1px solid var(--color-light-white);
}
/* Contact */
#contact {
  background-color: var(--color-grey);
  padding: 10px;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 10px 0;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 10px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

h2.contact__title {
  text-align: center;
}

/* 검색폼 & 페이징*/

.searchForm {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.searchForm .search-btn {
  border: 1px solid #bdbdbd;
  color: #2b8f9cbd;
  padding: 5px 12px;
  border-radius: 10%;
  font-weight: 600;
  margin: 3px;
}
.searchForm .search-btn:hover {
  border: 1.5px solid #73aace;
  background-color: #f6f8f8;
}

.searchForm select {
  padding: 5px;
  margin: 3px;
}

.searchForm input {
  padding: 5px;
  margin: 3px;
}

.page-btn {
  width: 250px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
}
a.paginate_button {
  color: #000000;
  margin: 5px;
  padding: 2px 8px;
  color: rgb(34, 39, 34);
  font-weight: bold;
}
a.paginate_button.active {
  background-color: #d3eaf3;
}

/* submit */
.submit-btn {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  border: 2px solid #edf1f3;
  background-color: #3662f3;
  border-radius: 10%;
  color: white;
  width: 120px;
  margin-top: 20px;
}
.buttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.submit-btn:hover {
  background-color: #2d89ad;
  border-color: #8dcfe9;
}
.boardForm {
  height: 700px;
}

.inputForm {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
}

.form-group.content {
  height: 80%;
}
.form-group.content #content {
  height: 80%;
}

.form-group label {
  font-weight: bold;
  font-size: large;
  display: flex;
  float: left;
}

.inputForm input,
textarea {
  border: 2px solid #ccc8c8;
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

.inputForm input:hover {
  border-color: #1063fd;
}

.inputForm .inputForm__input__file {
  display: none;
}

.inputForm__input__file--btn {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  border: 2px solid #ebedee;
  background-color: #2d7bf0;
  border-radius: 10%;
  color: white;
  width: 100px;
  margin-top: 20px;
}
.inputForm__input__file--btn:hover {
  border-color: #73aace;
  background-color: #2d7bf0;
}

.form-group.filebox label {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  border: 2px solid #ebedee;
  background-color: #2d7bf0;
  border-radius: 10%;
  color: white;
  width: 100px;
  margin-top: 20px;
}

.form-group.filebox label:hover {
  border-color: #73aace;
  background-color: #2d7bf0;
}

.cancel-btn {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  border: 2px solid #e1e5e7;
  background-color: #716e72;
  border-radius: 10%;
  color: white;
  width: 100px;
  margin-top: 20px;
}
.cancel-btn:hover {
  background-color: #2d89ad;
  border-color: #8dcfe9;
}
p.file_title {
  font-weight: bold;
  font-size: large;
  display: flex;
  float: left;
}
.form-group.total input {
  width: 30%;
}
/* 게시물 상세 */
.board_title:after {
  content: "";
  display: block;
  position: relative;
  left: 1%;
  width: 500px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
.board_content {
  text-align: left;
  margin-top: 10px;
  min-height: 500px;
  font-weight: 600;
  font-size: 1.1rem;
}
.mem_cnt {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}
.section__container.board_info {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
}
.section__container.board_info .buttons {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}
.section__container.board_info .buttons button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  border: 2px solid #e1e5e7;
  background-color: #716e72;
  border-radius: 10%;
  color: white;
  width: 100px;
  margin-top: 20px;
}
.section__container.board_info .buttons .update-btn {
  background-color: #3662f3;
}
.section__container.board_info .buttons .delete-btn {
  background-color: #d8615d;
}
.section__container.board_info .buttons .project-join {
  background-color: #1063fd;
}
.section__container.board_info .status {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-right: 10px;
  font-weight: bold;
}

/* 회원가입 */
.member {
  display: flex;
  flex-direction: column;
}
.mem_join {
  text-align: center;
}

.member.mem_id,
.member.mem_nickname,
.member.mem_password,
.member.mem_age,
.member.mem_tel,
.member.mem_email {
  width: 40%;
}

.member.mem_position {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-right: 3%;
}

.member.mem_gender {
  display: flex;
  flex-direction: row;
  width: 40%;
  vertical-align: middle;
}

.mem_join .inputForm .member.mem_gender input {
  padding: 0px;
  margin: 5px 0px;
  width: 20px;
}

.mem_join .inputForm .member.mem_gender label {
  padding: 0;
  width: 50px;
}

.mem_join label::before {
  content: "*";
  color: red;
}

.mem_join .inputForm .label_uploadFile {
  text-align: center;
  width: 40%;
  margin: 0;
}

.mem_join .inputForm .mem_img {
  float: left;
}

.mem_join .inputForm .filebox {
  margin-left: 10%;
}

.mem_join .inputForm .label_uploadFile::before {
  content: none;
}

.mem_form-group.mem_password {
  display: flex;
  justify-content: flex-start;
}

.mem_join h2 {
  margin-left: 20%;
}
.mem_join .inputForm {
  width: 50%;
  margin: 30px auto;
}
.mem_join .inputForm input {
  margin: 10px auto;
}
.mem_join .inputForm label {
  margin: 0;
  font-weight: bold;
  width: 50%;
  text-align: left;
}
.mem_password {
  margin-left: 3.5%;
}

.mem_form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
select {
  margin-top: 10px;
  width: 200px;
  padding: 0.8em 0.5em;
  border: 1px solid #999;
  font-family: inherit;
  background: url("arrow.jpg") no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.section__container.login {
  width: 70%;
  min-height: 300px;
}
.section__container.login h2 {
  margin-bottom: 80px;
  min-width: 200px;
}
.login_form-group {
  display: flex;
  align-items: center;
}
.login_form-group label {
  width: 20%;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 4rem;
  min-width: 100px;
}
.login_form-group input {
  width: 40%;
  min-width: 100px;
}
.buttons.login {
  margin-top: 30px;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
